<div class="center hero-unit">
  <h1>Welcome to <br>Roundhouse Poetry</h1>

  <h2>
    The home page for spoken word on the web.
  </h2>

  <%= link_to "Sign up now!", signup_path, class: "btn btn-large btn-primary" %>
</div>