<% provide(:title, 'All poems') %>
<h1>All poems</h1>

<%= will_paginate %>

<ul class="poems">
  <% @poems.each do |poem| %>
    <li>
      <%= link_to poem.title, poem %> by <%= link_to "#{poem.poet.first_name} #{poem.poet.last_name}", poem.poet unless poem.poet.nil?%>
    </li>
  <% end %>
</ul>

<%= will_paginate %> 