<% provide(:title, 'All poets') %>
<h1>All poets</h1>

<%= will_paginate(@things, :renderer => WillPaginate::ActionView::LinkRenderer) %>

<ul class="poets">
  <% @poets.each do |poet| %>
    <li>
      <%= link_to poet.first_name+" "+poet.last_name, poet %>
    </li>
  <% end %>
</ul>

<%= will_paginate(@things, :renderer => WillPaginate::ActionView::LinkRenderer) %> 