// Place all the styles related to the Poems controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
$moleskineRed: #BF2310 ;

#poem-player{
margin: 40px auto;
text-align: center;
}

#poem-info-container{
h2{
		font-weight: bold;
		font-size: 1.2em;
		text-align:left;
		color:$moleskineRed;
		margin-bottom: 10px;
	}
}

#poem-info-description{
	text-align:left;
	h1{
		font-size:2em;
		color:black;
		margin-bottom: 10px;
		text-align:left;
	}
	h2{
		font-weight: bold;
		font-size: 1em;
		text-align:left;
		color:$moleskineRed;
		margin-bottom: 10px;
	}
	h3{
		font-color: #eaeaea;
		font-size: 1em;
		margin-bottom: 20px;
		margin-top:5px
	}
}
      
#poem-info-share{

}

#poem-info-more-poems{

}

